@model ModifyViewModel
@{
    ViewData["Title"] = "ModifyPassword";
}

@section Scripts{
    <script>
        $(document).ready(function () {
            var $btn = $("#showPass");
            var btn = $btn.get(0);
            $btn.click(function () {
                if (btn.checked) {
                    $(".pass").attr("type", "");
                } else {
                    $(".pass").attr("type", "password");
                }
            });
        })
    </script>
}


<h1>修改密码</h1>

<hr />

<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="ModifyPassword" method="post">
    <div class="form-group">
        <label asp-for="OriginalPassword" class="control-label"></label>
        <input asp-for="OriginalPassword" class="pass" />
    </div>
    <div class="form-group">
        <label asp-for="ModifiedPassword" class="control-label"></label>
        <input asp-for="ModifiedPassword" id="modifiedPassword" class="pass" />
    </div>
    <div class="form-group">
        <label asp-for="ConfirmdPassword" class="control-label"></label>
        <input asp-for="ConfirmdPassword" id="confirmedPassword" onkeydown="" class="pass" />
    </div>
    <div class="form-group">
        <label>显示密码</label>
        <input style="margin-left: 10px" type="checkbox" id="showPass" />
    </div>
    <div class="form-group">
        <input type="submit" />
        <input type="reset" />
    </div>
</form>





